<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> — Spectre</title>
    <link rel="icon" href="/favicon.gif">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="masthead">
      <div class="container header">
        <a class="masthead__name" href="<%= projects_url %>">Spectre<img src="/favicon.gif" alt="" class="masthead__logo"></a>
      </div>
    </div>

    <div class="container body">
      <%= yield %>
    </div>

  </body>
</html>
