<%
@page_title = "#{@run.suite.name} ##{@run.sequential_id} (#{@run.suite.project.name})"
%>

<ul class="breadcrumb">
  <li><%= link_to 'Projects', projects_url %></li>
  <li><%= link_to @run.suite.project.name, projects_url %></li>
  <li><%= link_to @run.suite.name, project_suite_url(@run.suite.project, @run.suite) %></li>
  <li>#<%= @run.sequential_id %></li>
</ul>

<h1>Run #<%= @run.sequential_id %> <span class="text-muted">(<%= @run.suite.name %>)</span></h1>

<%= render 'shared/test_filters', test_filters: @test_filters %>

<table class="table table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>Test name</th>
      <th>Baseline</th>
      <th>Comparison</th>
      <th>Diff</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @test_filters.tests.each do |test| %>
      <%= render test %>
    <% end %>
    <% if @test_filters.tests.count == 0 %>
    <tr>
      <td colspan="5">No matching tests found.</td>
    </tr>
    <% end %>
  </tbody>
</table>
