<tr id="test_<%= test.id %>" class="test <%= "test--fail" unless test.pass?  %>">
  <th>
    <span class="test__name"><%= link_to_unless(test.source_url.blank?, test.name, test.source_url)  %></span>
    <p>
      <small class="text-muted">
        <%= test.browser %>, <%= test.size %>
      </small>
    </p>
  </th>
  <td style="width:1px;"><%= link_to(thumbnail(test.screenshot_baseline_thumbnail), test.screenshot_baseline.url, class: 'test__image') unless test.screenshot_baseline.nil? %></td>
  <td style="width:1px;"><%= link_to(thumbnail(test.screenshot_thumbnail), test.screenshot.url, class: 'test__image') unless test.screenshot.nil? %></td>
  <td style="width:1px;"><%= link_to(thumbnail(test.screenshot_diff_thumbnail), test.screenshot_diff.url, class: 'test__image') unless test.screenshot_diff.nil? %></td>
  <td>
    <span class="test__diff text-muted"><%= test.diff == 0 ? 'No' : "#{test.diff}%" %> difference</span>
    <span class="test__status label label--<%= test.pass? ? 'pass' : 'fail' %>"><%= test.pass? ? 'Pass' : 'Fail' %></span>
    <%# if test.five_consecutive_failures %>
      <!--span class="label label--warning">Consistently failing test</span-->
    <%# end %>
    <% if !test.pass? && !test.baseline? %>
      <%= form_for(test, remote: true) do |f| %>
        <%= f.hidden_field :baseline, value: true %>
        <%= f.submit 'Set as baseline', class: 'test__set-baseline' %>
      <% end %>
    <% end %>
  </td>
</tr>
