<%
@page_title = 'Projects'
%>

<h1>Projects</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Suite</th>
      <th>Last run</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.includes(:suites).each do |project| %>
      <% project.suites.each_with_index do |suite, i| %>
      <tr id="project_<%= project.id %>" class="project">
        <th><%= project.name %></th>
        <td><%= link_to suite.name, project_suite_path(suite.project, suite) %></td>
        <td><%= link_to "##{suite.latest_run.sequential_id}", project_suite_run_path(suite.project, suite, suite.latest_run) %> <span class="text-muted"><%= format_date(suite.latest_run.created_at) %></span>
          <% if suite.latest_run.tests.count == 0 %>
            <span class="label label-info">No tests</span>
          <% end %>
          <% if suite.latest_run.passing_tests > 0 %>
            <a class="label label--pass" href="<%= project_suite_run_path(suite.project, suite, suite.latest_run, params: { status: 'pass' }) %>"><%= suite.latest_run.passing_tests %> passed</a>
          <% end %>
          <% if suite.latest_run.failing_tests > 0 %>
            <a class="label label--fail" href="<%= project_suite_run_path(suite.project, suite, suite.latest_run, params: { status: 'fail' }) %>"><%= suite.latest_run.failing_tests %> failed</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
